@import '../../styles.scss';

.displayStyle {
  display: block;
  border: 0.3px #767687 solid;
  border-radius: 5px;
  float: left;
  width: 23%;
  padding: 15px;
  height: auto;
  margin: 13px;
}

h3 {
  color: $micronasBlue;
}

.passStatus {
  text-align: center;
  color: white;
  font-size: xx-large;
  & > .passStyle {
    background-color: #32CD32;
  }
  & > .failStyle {
    background-color: #DC143C;
  }
  & > .defaultStyle {
    background-color: #aaa;
  }
}

@media only screen and (max-width: 900px) {
  .displayStyle {
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
}