@import "../../../styles.scss";
button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    background-color: #aaa !important;
    color: black !important;
  }
  &:hover:enabled {
    opacity: 0.6;
  }
}
