@import "../../../styles.scss";

.card {
  width: 100%;
  h2 {
    font-size: $card;
  }
}

.columnStyle
{
  display : flex;
  flex-direction: column;
  & > .header {
    padding: 15px 15px 0px 15px;
    h2 {
      font-size: $label !important;
    }
  }
  & > .body {
    padding: 0px 20px 20px 20px;
  }
}

.rowStyle
{
  display : flex;
  flex-direction: row;
  & > .header {
    padding:30px;
    width: 20%;
    min-width: 300px;
    background-color: $beige;
  }
  & > .body {
    padding:30px;
  }
}

.columnStyleForComponent {
  display : flex;
  flex-direction: column;
  & > .header {
    padding: 15px;
    width: 100%;
    background-color: $beige;
  }
  & > .body {
    padding: 15px 15px 15px 15px;
    width: 100%;
    overflow: auto;
  }
}

.cardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
