<nav>
  <ul>
    <li [ngClass]="{'disabled': isDisabled(menuItem.Info)}">
      <a [ngClass]="{'active': isActive(menuItem.Info)}" routerLink="{{menuItem.Info}}">Information</a>
    </li>
    <li [ngClass]="{'disabled': isDisabled(menuItem.Control)}">
      <a [ngClass]="{'active': isActive(menuItem.Control)}" routerLink="{{menuItem.Control}}">Control</a>
    </li>
    <li [ngClass]="{'disabled': isDisabled(menuItem.Results)}">
      <a [ngClass]="{'active': isActive(menuItem.Results)}" routerLink="{{menuItem.Results}}">Results</a>
    </li>
    <li [ngClass]="{'disabled': isDisabled(menuItem.Logging)}">
      <a [ngClass]="{'active': isActive(menuItem.Logging)}" routerLink="{{menuItem.Logging}}">Logging</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
