@import '../../styles.scss';

.displayStyle {
  font-size: 0.6em;
  margin-top: 13px;
}

.columnViewForbinInformation {
  float: left;
  width: 25%;
  padding: 0px;
}

/* .displayStyle:after {
  content: '';
  clear: both;
  display: table;
} */

h3 {
  color: $micronasBlue;
  padding: 15px 0px 15px 0px;
  margin-left: 0px;
  width: 320px;
  background-color: $beige;
  text-align: center;
  font-size: $label;
}
