recursive-include docs *.md
recursive-include docs *.pdf
recursive-include docs *.png
recursive-include docs *.xcf
recursive-include docs *.xlsx
recursive-include docs *.pptx
recursive-include docs *.odt
recursive-include docs *.pptm
recursive-include docs *.ppt
recursive-include docs *.jpg
recursive-include docs *.xml
recursive-include docs *.txt
recursive-include docs *.docx

recursive-include ATE *.jinja2
recursive-include ATE *.md
recursive-include ATE *.bat
recursive-include ATE *.pdf
recursive-include ATE *.png
recursive-include ATE *.jpg
recursive-include ATE *.py
recursive-include ATE *.regmap
recursive-include ATE *.ui
recursive-include ATE *.xcf
recursive-include ATE *.editorconfig
recursive-include ATE *.gitkeep
recursive-include ATE *.html
recursive-include ATE *.ico
recursive-include ATE *.js
recursive-include ATE *.json
recursive-include ATE *.scss
recursive-include ATE *.ts
recursive-include ATE *.txt
recursive-include ATE *.xml

recursive-exclude tests *.*
recursive-exclude Plugins *.*

include *.md
include *.rst
include *.txt
include *.yaml
include *.md
include *.ps1
include *.bat


recursive-include requirements *.txt
include .flake8
include .gitlab-ci.yml
include pax_global_header
