include *.md
include *.rst
include *.txt
include *.yaml
include *.md
include *.ps1
recursive-include docs *.md
recursive-include docs *.pdf
recursive-include docs *.png
recursive-include docs *.xcf
recursive-include docs *.xlsx
recursive-include docs *.pptx
recursive-include docs *.odt
recursive-include docs *.pptm
recursive-include docs *.ppt
recursive-include docs *.jpg
recursive-include docs *.xml
recursive-include docs *.txt
recursive-include docs *.docx
recursive-include ATE *.jinja2
recursive-include ATE *.md
recursive-include ATE *.pdf
recursive-include ATE *.png
recursive-include ATE *.jpg
recursive-include ATE *.py
recursive-include ATE *.regmap
recursive-include ATE *.ui
recursive-include ATE *.xcf
recursive-include ATE *.xlsx
recursive-include ATE *.pptx
recursive-include ATE *.editorconfig
recursive-include ATE *.gitkeep
recursive-include ATE *.html
recursive-include ATE *.ico
recursive-include ATE *.js
recursive-include ATE *.json
recursive-include ATE *.scss
recursive-include ATE *.ts
recursive-include ATE *.txt
recursive-include ATE *.xml
recursive-include requirements *.txt
recursive-include tests *.py
recursive-include ATE/TES *.*
recursive-include Plugins *.*
tests/ATE/spyder/FilesysBasedConfig/definitions/adddelete/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/device/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/die/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/dummydata/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/dummydata2/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/flow/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/hardware/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/masksets/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/package/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/product/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/program/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/qualification/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/sequence/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/test/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/testtarget/.gitkeep
tests/ATE/spyder/FilesysBasedConfig/definitions/updateitem/.gitkeep
include .flake8
include .gitlab-ci.yml


include ATE/Tester/TES/ui/angular/mini-sct-gui/browserslist
include pax_global_header
recursive-include tests *.json
recursive-include tests *.xml