@import '../../styles.scss';
.stdfRecord {
width: 360px;
height: 520px;
overflow: auto;
}

.stdfRecordType {
  display: flex;
  text-align: center;
  margin: 5px;
}

#value {
  color: black;
  margin-left: 5px;
}

.blueDivider {
  width: auto;
}

.recordEntries {
  display: block;
  margin-top: 10px;
  li {
    padding: 5px;
  }
  .label {
    color: $micronasBlue;
    text-align: left;
  }
  .value {
    float: right;
    color: black;
  }
}

.normal {
  color: black;
}

.alert {
  color: red;
}
