<div class="stdfTypeFilter">
  <div class="multipleChoice">
    <ul>
      <li class="listLabel">STDF Record Types</li>
      <li class="stdfTypes" *ngFor="let c of recordTypeFilterCheckboxes">
        <div class="stdfRecordTypes">
          <app-checkbox [checkboxConfig]="c" (checkboxChangeEvent)="recordTypeFilterChanged($event, c.labelText)"></app-checkbox>
        </div>
      </li>
    </ul>
    <ul class="buttonsForSelect">
      <app-button id="allSelected" [buttonConfig]="allRecordsSelectedButtonConfig" (buttonClickEvent)="selectAllRecords()"></app-button>
      <app-button id="noneSelected" [buttonConfig]="noneRecordsSelectedButtonConfig" (buttonClickEvent)="unselectAllRecords()"></app-button>
    </ul>
  </div>
</div>
