@import '../../../styles.scss';

.stickyHeader {
  .header {
    width: 100%;
    padding: 20px;
    vertical-align: center;
    background-color: $micronasBlue;
    color: $white;
    * {
      display: inline-block;
    }
    h1 {
      text-align: left;
      font-size: 40px;
    }
    img {
      float: right;
      height: auto;
      width: 166px;
      margin-top: 10px;
    }
  }
  position: absolute;
  background-color: $micronasBlue;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 155px;
  .menu {
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
    }
  }
}

@media screen and (max-width: 750px) {
  .stickyHeader{
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  .header img {
    float: none;
    width: 30%;
    margin-left: 15px;
  }
}

