@import '../../../styles.scss';

.footer {
  padding-left: 10px;
  height: $footerHeight;
  max-height: $footerHeight;
  width: 100%;
  overflow-y: auto;
}

#fixedFooter {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: $colorFooter;
}
