# -*- coding: utf-8 -*-
"""
{{ definition['hardware'] }}/PR/__init__.py
"""

from ATE.spyder.widgets.sequencers.SequencerMqttClient import SequencerMqttClient
mqtt = SequencerMqttClient()

# Add your stuff after this line.
