# -*- coding: utf-8 -*-
"""
{{ definition['hardware'] }}/PR/__init__.py
"""
from ATE.sequencers.SequencerMqttClient import SequencerMqttClient
mqtt = SequencerMqttClient()

# Tester
from ATE.semiateplugins.pluginmanager import get_plugin_manager
tester_instance = get_plugin_manager().hook.get_tester(tester_name="{{definition["tester"]}}")[0]

{% for actuator in definition['Actuator']['PR'] %}
{{actuator}}_instance = get_plugin_manager().hook.get_actuator_proxy(required_capability="{{actuator}}")[0]
{{actuator}}_instance.set_mqtt_client(mqtt)
{% endfor %}

{% for instrument in definition['Instruments'] %}
{{definition['InstrumentNames'][instrument]}}_instance = get_plugin_manager().hook.get_instrument(instrument_name="{{instrument}}")[0]
{% endfor %}

# Add your stuff after this line.
