@import "../../styles.scss";

.lotHandlingAndTestExecution {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-right: 15px;
}

.systemControl {
  display: flex;
  flex-direction: row;
}

