<div *ngIf="showError()">
  <div class="error">
    <h3>{{status.reason}}</h3>
  </div>
</div>
<hr class="blueDivider">
<div id="reduceSpace">
  <app-card [cardConfiguration]="informationCardConfiguration">
    <div *ngIf="isInConnectingState(); else systemStateIsNotConnecting">
      <app-card [cardConfiguration]="identifyCardConfiguration">  
        <div class="warn"><strong>Identifying Test System!</strong></div>
      </app-card>
    </div>
  </app-card>
</div>

<ng-template #systemStateIsNotConnecting>
  <div class="systemInformationAndYield">
    <div class="systemInformation">
      <app-card [cardConfiguration]="infoContentCardConfiguration">
        <app-information [informationConfig]="systemInformationConfiguration"></app-information>
        <app-information [informationConfig]="numberOfSitesConfiguration"></app-information>
        <app-information [informationConfig]="timeInformationConfiguration"></app-information>
        <app-information [informationConfig]="environmentInformationConfiguration"></app-information>
        <app-information [informationConfig]="handlerInformationConfiguration"></app-information>
        <app-information [informationConfig]="lotNumberInformationConfiguration"></app-information>
      </app-card>
    </div>
    <app-yield></app-yield>
    <app-lot-data></app-lot-data>
  </div>
</ng-template>