@import "../../../styles.scss";

.card
{
  padding: 10px;
  width: 100%;
  margin-bottom: 7vh;
}
.columnStyle
{
  display : flex;
  flex-direction: column;
  & > .header {
    padding:30px;
  }
  & > .body {
    padding:30px;
  }
}

.rowStyle
{
  display : flex;
  flex-direction: row;
  & > .header {
    padding:30px;
    width: 20%;
    min-width: 300px;
    background-color: $beige;
  }
  & > .body {
    padding:30px;
    min-width: 600px;
    width: 40%;
  }
}

.cardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.rowStyleForSystemSites
{
  display : flex;
  flex-direction: row;
  & > .header {
    -ms-flex: 10%;
    flex: 10%;
    background-color: $beige;
    padding: 30px;
    width: 20%;
    min-width: 300px;
  }
  & > .body {
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding:30px;
    min-width: 600px;
    width: 40%;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    flex-direction: column;
  }

  .columnStyle {
    margin: 0;
    text-align: center;
  }

  .body {
    display: block;
  }
}