@import "../../../styles.scss";
.information {
  padding: 20px;
  h3, p {
    margin-top: 10px;
  }
  input {
    width: 20px;
    margin-right: 10px;
    background-color: #0046AD;
    color: white;
    font-weight: bold;
    font-size: 15px;
    float: right;
  }  
}
