@import '../../../styles.scss';

.tableElement {
  overflow: auto;
  font-size: $text;
  ul {
    &:nth-child(odd) {
      background-color: $beige;
    }
  }
  li {
    padding: 15px;
  }
  .tableHeader {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .tableRow{
    @extend .tableHeader;
    font-weight: normal;
    input {
      border: 0px;
      background-color: unset;
    }
    .editable {
      border: 1px solid $micronasBlue !important;
      text-align: right;
      padding-left: 2px;
      padding-right: 2px;
    }
    .error {
      color: $red !important;
      border: 1px solid $red !important;
    }
  }
}

// Remove arrows from input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -moz-appearence: none;
  display: none;
}
