<div class="tableElement">
  <ul class="tableHeader">
    <li *ngFor="let header of tableConfig.headerRow; index as i"
      [ngStyle]="{
        'display': 'block',
        'color': header.style.textColor,
        'text-align': header.style.align,
        'background-color': header.style.backgroundColor,
        'width': tableConfig.tableWidth[i]
      }">
      {{header.text}}
    </li>
  </ul>
  <ul class="tableRow" *ngFor="let row of tableConfig.rows">
    <li *ngFor="let entry of row; index as j" 
      [ngStyle]="{
        'display': 'block',
        'color': entry.style.textColor,
        'text-align': entry.style.align,
        'background-color': entry.style.backgroundColor,
        'width': tableConfig.tableWidth[j]
      }">
      <div *ngIf="!inputFieldEditable(entry); else editableInput">{{entry.text}}</div>
      <ng-template #editableInput>
        <input type="number" 
          [value]="entry.text"
          (input)="onInput(entry, $event.target.value)"
          [class.editable]="entry.callBack.editable"
          [style.width]="tableConfig.tableWidth[j]"
          [class.error]="!entry.callBack.valid(entry.text)">
      </ng-template>
    </li>
  </ul>
</div>

