.testNumberFilter {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 365px;
  border: 0.3px #767687 solid;
  border-radius: 5px;
  padding: 10px 0 10px 20px;
  height: auto;
  #testNumberCheckbox {
    width: 320px;
  }
  #testNumberInput {
    width: 320px;
  }
}