@import "../../../styles.scss";

.checkbox {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  label {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    white-space: nowrap;
    font-size: $text;
  }
  &.disabled {
    cursor: not-allowed;
    input {
      opacity: 0.3;
      background-color: #aaa;
      color: grey;
      border: 1px solid grey;
    }
    label, .slider {
      color: grey;
      cursor: not-allowed;
      opacity: 0.3;
      pointer-events: none;
    }
    .toggle .slider {
      opacity: 1;
    }
  }
}

.toggle {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #0046AD;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #0046AD;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
      transform: translateX(24px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25px;
  &:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}
