@import "../../../styles.scss";

.dropdown {
  h3 {
    margin-left: 8px;
  }
  select {
    margin: 5px;
    margin-right:0px;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    border-radius: 4px;
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      background-color: #aaa;
      color: grey;
      border-color: $grey;
    }
  }
  option {
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
  }
}