<hr class="blueDivider">
<div class="row">
  <div class="side">
    <h2>System Console</h2>
    <app-button [buttonConfig]="clearConsoleButtonConfig" (buttonClickEvent)="clearConsole()"></app-button>
  </div>
  <div class="main">
    <div>
      <table>
        <tr>
          <th>Date</th>
          <th>Topic</th>
          <th>Description</th>
        </tr>
        <tr *ngFor='let entry of (consoleEntries$ | async).slice().reverse()'>
            <td class="date">{{ entry.date }}</td>
            <td class="topic">{{ entry.topic }}</td>
            <td class="description">{{ entry.description }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>