<div class="navigationContainer">
  <nav>
    <ul>
      <li [ngClass]="{'disabled': isDisabled(menuItem.Info)}">
        <a [ngClass]="{'active': isActive(menuItem.Info)}" routerLink="{{menuItem.Info}}">Information</a>
	    <a class='space'>Information</a>
      </li>
      <li [ngClass]="{'disabled': isDisabled(menuItem.Bin)}">
        <a [ngClass]="{'active': isActive(menuItem.Bin)}" routerLink="{{menuItem.Bin}}">Bin</a>
	    <a class='space'>Bin</a>
      </li>
      <li [ngClass]="{'disabled': isDisabled(menuItem.Control)}">
        <a [ngClass]="{'active': isActive(menuItem.Control)}" routerLink="{{menuItem.Control}}">Control</a>
        <a class='space'>Control</a>
      </li>
      <li [ngClass]="{'disabled': isDisabled(menuItem.Records)}">
        <a [ngClass]="{'active': isActive(menuItem.Records)}" routerLink="{{menuItem.Records}}">Records</a>
        <a class='space'>Records</a>
      </li>
      <li [ngClass]="{'disabled': isDisabled(menuItem.Logging)}">
        <a [ngClass]="{'active': isActive(menuItem.Logging)}" routerLink="{{menuItem.Logging}}">Logging</a>
        <a class='space'>Logging</a>
      </li>
    </ul>
  </nav>
</div>

