<hr class="blueDivider">
<app-card [cardConfiguration]="stdfRecordsViewCardConfiguration">
  <app-button id="refresh" [buttonConfig]="refreshButtonConfig" (buttonClickEvent)="reloadRecords()"></app-button>
  <div *ngIf="anyRecordStored(); else norecordsavailable">
    <div class="recordView">
      <div class="recordsContent">
        <div class="autoScrollAndButtons">
          <app-button id="prev" [buttonConfig]="previousRecordButtonConfig" [ngClass]="{'hidden': autoScroll}" class="left" (buttonClickEvent)="previousRecord()"></app-button>
          <app-checkbox [checkboxConfig]="autoscrollCheckboxConfig" (checkboxChangeEvent)="autoscrollChanged($event)"></app-checkbox>
          <app-button id="next" class="right" [buttonConfig]="nextRecordButtonConfig" [ngClass]="{'hidden': autoScroll}" (buttonClickEvent)="nextRecord()"></app-button>
        </div>
        <div *ngIf="filterTooStrong(); else records" class="recordNavigation">
          <p>Filter settings are to restrictive! No records match the applied filter settings.</p>
        </div>
        <ng-template #records>
          <app-stdf-record id="stdfRecords" [stdfRecord]="currentRecord()"></app-stdf-record>
        </ng-template>
      </div>
      <div class="multipleChoice">
        <ul>
          <li class="listLabel">STDF-Types to be displayed: </li>
          <li class="stdfTypes" *ngFor="let c of recordTypeFilterCheckboxes">
            <div class="stdfRecordTypes">
              <app-checkbox [checkboxConfig]="c" (checkboxChangeEvent)="recordTypeFilterChanged($event, c.labelText)"></app-checkbox>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #norecordsavailable>
    <p>No records available!</p>
  </ng-template>
</app-card>

