# -*- coding: utf-8 -*-
"""
{{ definition['hardware'] }}/PR/__init__.py
"""
from ATE.Tester.TES.apps.testApp.sequencers.SequencerMqttClient import SequencerMqttClient
mqtt = SequencerMqttClient()

# Tester
from ATE.semiateplugins.pluginmanager import get_plugin_manager
tester_instance = get_plugin_manager().hook.get_tester(tester_name="{{definition["tester"]}}")[0]

# Actuators are disable due to them being reworked.
{% for actuator in definition['Actuator']['PR'] %}
from ATE.Tester.TES.apps.testApp.actuators.{{actuator}}.{{actuator}} import {{actuator}}Proxy
{{actuator}}_instance = {{actuator}}Proxy()
{{actuator}}_instance.set_mqtt_client(mqtt)
{% endfor %}

{% for instrument in definition['Instruments'] %}
{{definition['InstrumentNames'][instrument]}}_instance = get_plugin_manager().hook.get_instrument(instrument_name="{{instrument}}")[0]
{% endfor %}

{% for gpfunction in definition['GPFunctions'] %}
{{definition['GPFunctionNames'][gpfunction]}}_instance = get_plugin_manager().hook.get_general_purpose_function(func_name="{{gpfunction}}")[0]
{% endfor %}

# Add your stuff after this line.
