@import '../../styles.scss';
.stdfRecord {
  padding-right: 10px;
  width: 360px;
  max-height: 440px;
  overflow: auto;
}

.stdfRecordType {
  display: flex;
  text-align: center;
  margin: 5px;
}

#value {
  color: black;
  margin-left: 5px;
}

.blueDivider {
  width: auto;
}

.recordEntries {
  display: block;
  margin-top: 10px;
  padding-right: 15px;
  overflow-y: auto;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0;
}

.ptrInformation {
  background-color: #F9F8FF;
  padding: 10px;
  margin: 1px;
}

li {
  color: $micronasBlue;
  text-align: left;
  font-size: $text;
  .value {
    float: right;
    color: black;
  }
  #passFailStyle {
    @extend .value;
    font-weight: bold;
  }
}

:host::ng-deep app-multichoice label {
  font-size: $text !important;
}
