<div class="stdfRecord" *ngIf="this.stdfRecord">
  <div class="stdfRecordType">
    <h2>{{stdfRecord.type}}<span>: </span></h2>
    <h2 id="value">{{getLongType()}}</h2>
  </div>
  <span><hr class="blueDivider"></span>
  <ul class="recordEntries">
    <li *ngFor="let property of stdfRecord.values">
      <div *ngIf="property.key !=='TEST_FLG'; else testflg" class="label">
        {{property.key}}:
        <span class="value">{{property.value}}</span>
      </div>
      <ng-template #testflg>
        <app-multichoice [multichoiceConfig]="computeMultichoiceConfigurationForTestFlagValue(property.value)"></app-multichoice>
      </ng-template>
    </li>
  </ul>
</div>
