<div class="multichoice">
  <label *ngIf="multichoiceConfig.label !== ''">
    {{multichoiceConfig.label}}
    <span>
      <ng-content></ng-content>
    </span>
  </label>
  <div class="items" [ngClass]="{'readonly': multichoiceConfig.readonly}">
    <ul>
      <li *ngFor="let item of multichoiceConfig.items; index as i"
        [class.checked]="item.checked"
        (click)="changeItem(i)"
        [ngStyle]="{
          'color': item.textColor,
          'background-color': item.backgroundColor
        }">
        {{item.label}}
      </li>
    </ul>
  </div>
</div>
