@import "../../../styles.scss";

.multichoice {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 5px;
    text-align: left;
    padding: 0px;
    color: $micronasBlue;
    font-size: $label;
    span {
      float: right;
      color: black;
    }
  }
  .items {
    li {
      text-align: left;
      padding-left: 10px;
      cursor: pointer;
    }
    li::before {
      padding-right: 10px;
      content: "\25cf";
      float: left;
      visibility: hidden;
    }
    li.checked::before {
      padding-right: 10px;
      content: "\25cf";
      float: left;
      visibility: visible;
    }
    li:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding-top: 5px;
    }
    li:last-child {
      padding-bottom: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.readonly {
      li {
        cursor: auto;
      }
    }
  }
}