<div class="inputContainer">
  <input type="{{inputConfig.type}}" 
        placeholder="{{inputConfig.placeholder}}"
        (focus)="onFocus()"
        (blur)="onBlur()"
        [(ngModel)]="inputConfig.value"
        (change)="onChange()"
        (keydown)="onKeydown($event)"
        (keyup)="onKeyUp($event)"
        [ngStyle]="{'color': getColor()}"
        [attr.disabled]="inputConfig.disabled ? '' : null" 
        [attr.autocompleteId]="inputConfig.autocompleteId"
    />
  <div class="errorMessage">
    <span *ngIf="(inputConfig.errorMsg !== '')">{{inputConfig.errorMsg}}</span>
  </div>
  <div class="inputHistoryList" [ngClass]="{'hidden': !historyVisible || inputConfig.errorMsg !== ''}">
    <ul class="histories" *ngFor="let e of filteredHistory; index as i">
      <li [class.highlight]="i == historyItemIndex">
        <a (click)="onMouseClick(i)">{{e}}</a>
      </li>
    </ul>
  </div>
</div>
