@import "../../../styles.scss";

span {
  float: none;
  text-align: left;
}

input {
  position: relative;
  text-align: left;
  font-size: $text;
  padding: 5px;
  background-color: $white;
  @include solidBorder(1px, $micronasBlue);
  border-radius: 5px;
  width: 100%;
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    background-color: #aaa;
    border-color: $grey;
    pointer-events: none;
  }
  &:hover:enabled {
    opacity: 0.6;
  }
}

.errorMessage {
  color: red;
  font-size: $text;
  text-align: left;
}

.inputContainer {
  position: relative;
}

.inputHistoryList {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: $beige;
  overflow: auto;
  margin-top: 0px;
  .histories {
    text-align: left;
    color: $micronasBlue;
    font-size: $label;
    &:hover {
      background-color: $grey;
      color: black;
    }
    .highlight {
      background-color: $micronasBlue;
      color: white;
    }
    li, a {
      padding: 2px 2px 2px 3px;
    }
  }
}

.hidden {
  display: none;
}

