# -*- coding: utf-8 -*-
"""
{{ definition['hardware'] }}/PR/__init__.py
"""

from ATE.org.sequencers.SequencerMqttClient import SequencerMqttClient
mqtt = SequencerMqttClient()

# Add your stuff after this line.