@import "../../styles.scss";

#refresh {
  width: 120px;
  display: block;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.recordView {
  display: flex;
  z-index: -5;

  .recordsContent {
    text-align: center;
    width: 380px;
    float: left;
    border: 1px #767687 solid;
    border-radius: 5px;
    height: 545px;
    padding: 10px;
  }
  .filters {
    app-stdf-record-site-number-filter, app-stdf-record-test-number-filter, app-stdf-record-test-text-filter, app-stdf-record-pass-fail-filter, app-stdf-record-program-filter {
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      display: block;
    }
  }
}

.autoScrollAndButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  & app-checkbox {
    margin-left: 16px;
  }
}

.recordNavigation {
  display: flex;
  flex-direction: row wrap;
  text-align: center;
  justify-content: space-between;
  p {
    color: red;
    font-size: $text;
  }
}

app-stdf-record-site-number-filter {
  float: left;
  margin-left: 5px;
}

#leftContent {
  float: left;
  margin-right: 14px;
}

#systemBinStatus {
  width: 333px;
}
