@import '../../styles.scss';

.displayStyle {
  display: block;
  border: 1px #767687 solid;
  border-radius: 5px;
  float: left;
  padding: 3px;
  height: auto;
  min-width: 85px;
  margin: 0px 5px 5px 0px;
  z-index: -5;
}

p span{
  color: $micronasBlue;
  font-weight: bold;
}

.passStatus {
  text-align: center;
  color: white;
  & > .passStyle {
    background-color: #32CD32;
  }
  & > .failStyle {
    background-color: #DC143C;
  }
  & > .defaultStyle {
    background-color: #aaa;
  }
}

.styleForFooter {
  .partIdLabel, .testHeadLabel, .siteLabel, .passFailText {
    display: none;
  }
  font-size: $text;
  margin: 5px;
}
