@import '../../../styles.scss';

.footer {
    text-align: center;
    background-color: $colorFooter;
    padding: 10px;
}

#fixedFooter {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}
