@import '../../styles.scss';

:host {
  width: 360px !important;
  display: block;
  .caption {
    color: $micronasBlue;
    padding: 15px 0px 15px 0px;
    margin-left: 0px;
    width: 100%;
    background-color: $beige;
    text-align: center;
    font-size: $label;
  }
  .columnViewForbinInformation {
    width: 100%;
  }
  .displayStyle {
    font-size: 0.6em;
    margin-top: 13px;
  }
}
